# ローカル開発用: http://localhost:3000
# 本番環境用:    https://diaperlicense.online
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=   # openssl rand -base64 32 で生成

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# ローカル開発用: http://localhost:8080
# 本番環境用:    https://diaperlicense.online/api
API_BASE_URL=http://localhost:8080
